<%#
  Team7 client ejs - course_more | Update: 2021/07/11
%>

<%- include( './_header.ejs' ); %>
<head>
  <link rel="preload" href="/public/css/style_course_more.css" as="style">
  <link rel="stylesheet" href="/public/css/style_course_more.css"">
  <title><%- title %></title>
</head>
<body>
  <%- include( './_top_bar.ejs' ); %>
  <div id="wrap">
    <%- include( './_dashboard.ejs' ); %>
  <div id="main">
    <div id="lecture_table">
      <h3><%- title %> - 出欠一覧</h3>
      <table id="lecture_table_val">
        <%- lecture_table %>
      </table>
    </div>
    </div>
  </div>
</body>
</html>
