<%#
  Team7 client ejs - edit | Update: 2021/06/21
%>

<%- include( './_header.ejs' ); %>
<head>
  <link rel="preload" href="/public/css/style_edit.css" as="style">
  <link rel="stylesheet" href="/public/css/style_edit.css"">
  <title><%- title %></title>
</head>
<body>
  <%- include( './_top_bar.ejs' ); %>
  <div id="wrap">
    <%- include( './_dashboard.ejs' ); %>
  <div id="main">
    <div id="lecture_table">
      <h3>出席状況 / 講義情報 / 履修者編集</h3>
      <table id="lecture_table_val">
        <tr>
          <th>講義ID</th>
          <th>講義名</th>
          <th>曜日</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>-</th>
          <th>-</th>
          <th>-</th>
          <th>修正</th>
        </tr>
      <%- lecture_table %>
      </table>
    </div>
    </div>
  </div>
</body>
</html>