<%#
  Team7 client ejs - edit_date | Update: 2021/07/19
%>

<%- include( './_header.ejs' ); %>
<head>
  <link rel="preload" href="/public/css/style_edit_date.css" as="style">
  <link rel="stylesheet" href="/public/css/style_edit_date.css"">
  <title><%- title %></title>
</head>
<body>
  <%- include( './_top_bar.ejs' ); %>
  <div id="wrap">
    <%- include( './_dashboard.ejs' ); %>
  <div id="main">
    <div id="lecture_table">
      <h3><a id="prev_link" href="/main?p=edit">編集</a> > <%- title %> 日程修正</h3>
      <p id="error"><i class="fas fa-times"></i> エラーが発生しました</p>
      <p id="success"><i class="far fa-check-circle"></i> 正しく処理されました</p>
      <p id="span_p">.</p>
        <table id="lecture_table_val">
      <%- lecture_table %>
      </table>
    </div>
    </div>
  </div>
</body>
<script type='text/javascript'>
  function getParam(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function ajax(week) { // xhrで送信
    var date_val = document.getElementById('date_'+week).value;
    var req = new XMLHttpRequest();
    document.getElementById('error').style.display = 'none';
    document.getElementById('success').style.display = 'none';
    document.getElementById('span_p').style.display = 'block';
    if (!week || !date_val) return;
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        if (req.status == 200) {
          if (req.responseText == 'error') {
            document.getElementById('span_p').style.display = 'none';
            document.getElementById('error').style.display = 'block';
            console.log('error');
          } else {
            console.log('ok');
            document.getElementById('span_p').style.display = 'none';
            document.getElementById('success').style.display = 'block';
          }
        }
      }
    }
    req.open('POST', '/edit_date', true); // 非同期
    req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
    var s_tx = 'data={"date":"'+date_val+'", "week":'+week+'}&l='+getParam('l', location.href);
    // console.log(s_tx);
    req.send(s_tx);
  }
</script>
</html>