<%#
    Team7 client ejs - edit | Update: 2021/06/21
%>

<%- include( './_header.ejs' ); %>
<head>
    <link rel="preload" href="/public/css/style_edit.css" as="style">
    <link rel="stylesheet" href="/public/css/style_edit.css"">
    <title><%- title %></title>
</head>
<body>
    <%- include( './_top_bar.ejs' ); %>
    <div id="wrap">
    <div id="dashboard">
        <p id="dashboard_title">管理者<span>UID: <%- user_id %></span></p>
        <div id="dashboard_menu">
            <a href="?p=home"><p class="<%- dashboard_menu_class[0] %>"><i class="fas fa-table"></i>マイページ</p></a>
            <a href="?p=course"><p class="<%- dashboard_menu_class[1] %>"><i class="fas fa-chalkboard-teacher"></i>コース</p></a>
            <a href="?p=edit"><p class="<%- dashboard_menu_class[2] %>"><i class="fas fa-edit"></i>編集</p></a>
            <a href="?p=stat"><p class="<%- dashboard_menu_class[3] %>"><i class="fas fa-chart-bar"></i>統計</p></a>
            <a href="?p=dev"><p class="<%- dashboard_menu_class[4] %>"><i class="fas fa-wrench"></i>開発者向け</p></a>
        </div>
    </div>
    <div id="main">
        <div id="lecture_table">
            <h3>出席状況 / 講義情報 / 履修者編集</h3>
            <table id="lecture_table_val">
                <tr>
                    <th>講義名 - ID</th> <th>曜日・時限</th> <th>担当</th> <th>出席数</th> <th>詳細</th> <th>編集</th>
                </tr>
                <%- lecture_table %>
            </table>
        </div>
        </div>
    </div>
</body>
</html>
