<%#
  Team7 client ejs - home | Update: 2021/07/10
%>

<%- include( './_header.ejs' ); %>
<head>
  <link rel="preload" href="/public/css/style_setting.css" as="style">
  <link rel="stylesheet" href="/public/css/style_setting.css"">
  <title><%- title %></title>
</head>
<body>
  <%- include( './_top_bar.ejs' ); %>
  <div id="wrap">
    <%- include( './_dashboard.ejs' ); %>
  <div id="main">
    <div id="lecture_table">
      <h3>パスワード変更</h3>
      <div id="change_fie">
        <div>
          <p id="tx_1">現在のパスワード</p><input type="password" id="old_pass" name="old_pass" required placeholder="Current password">
          <p id="tx_2">新しいパスワード</p><input type="password" id="new_pass" name="new_pass" required placeholder="New password">
        </div>
        <button id="pass_change" onclick="ajax();">適用</button>
      </div>
    </div>
    </div>
  </div>
</body>
<%- include( './setting_ajax.ejs' ); %>
</html>
